body {
  /* font-family: sans-serif; */
  background-color: lightgreen;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.input {
  margin-top: 110px;
  width: 350px;
  height: 50px;
  background-color: green;
  border-radius: 10px;
}

.box {
  width: 500px;
  height: 100px;
  background-color: blue;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  padding-top: 20px;
}
